<div class="container pt-5">
  <div class="row">
    <div class="col-lg-4">
      <label for="name">Name</label>
      <input [(ngModel)]="name" required id="name" type="text" class="input-group"/>
    </div>

    <div class="col-lg-4">
      <label for="age">Age</label>
      <input [(ngModel)]="age" required id="age" type="text" class="input-group"/>
    </div>

    <div class="col-lg-4">
      <label for="job">Job</label>
      <input [(ngModel)]="job" required id="job" type="text" class="input-group"/>


      <div class="col-lg-12">
        <button type="submit" class="btn btn-primary w-100 mb-3 mt-3" (click)="addItem()">Add User</button>
      </div>
    </div>
    <br>
    <br>
    <hr>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">User age</th>
        <th scope="col">User job</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of allItems">
        <th scope="row">{{item[0]}}</th>
        <td>{{item[1].name}}</td>
        <td>{{item[1].age}}</td>
        <td>{{item[1].job}}</td>

      </tr>
      </tbody>
    </table>

  </div>



